<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <meta name="Description" content="Looking for a restaurant is now easier than you imagine with Restalist">
   <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
   <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#ececec">
   <meta name="msapplication-TileColor" content="#ececec">
   <link rel="preconnect" href="https://dicoding-restaurant-api.el.r.appspot.com">
   <title>Restalist</title>
</head>

<body>
   <button aria-label="Skip to main-content" class="skip">Skip To Content</button>

   <restalist-navbar></restalist-navbar>

   <restalist-jumbotron></restalist-jumbotron>

   <main id="main-content" tabindex="-1">

   </main>

   <restalist-footer></restalist-footer>
</body>

</html>